# ignore all .env files
*.env

# ignore all league table json files
cogs/league_table/leagues/*.json

# ignore pycache
__pycache__

# ignore disnake.log
*.log

# ignore all .png files
*.png

# ignore all test.py files
test.py

# ignore .DS_Store files (annoying mac files)
.DS_Store

# allow default_icon_64.png using exception
!default_icon_64.png

# ignore all vscode settings
.vscode

# ignore all database files
*.db